.main{
    margin:max($numbers: 100px);
  
    background-color: coral
}
div  {
    background-image: src('home/admin1/Downloads/register.jpg');
}
.matCard{
    
    width:35%;
    height: 100%;
    margin-right: max-content;
    margin-left: max-content;
    margin-bottom: 3%;
    margin-top: 3%;
    border-radius: 02%;
    box-shadow: 0 8px 16px 0 rgba(100, 77, 33, 0.459);
    align-content: center;
    }
.matCardTitle{
    color: gold

}
.matCardSubTitle{
    color: peru
}
.example-container{
    width: 100%;
    color:chocolate;
  
}
.input-style{
    color: goldenrod;
    width: 100%
}
.buttonRegister button{
 padding: 10px 15px;
  color: chocolate;
  background-color:gold;
  size:25px;
  border: 1px solid goldenrod
  }

