

<div style="overflow: hidden;margin-left: -26px;" class="main">
    <div style="margin-left: 15px;">

    <mat-toolbar class=".mat-toolbar">
      <mat-toolbar-row>
      <div >
        <button  (click)="sidenav.toggle()" class="buttonMenu"  style="border-width: 0px;background: whitesmoke;margin-top: 9px">
          <img src="https://img.icons8.com/bubbles/50/000000/menu.png">
        </button>
      </div>
      <div >
        <img  src="../../../assets/googlekeep.png" alt="FundooNotes" class="bulbsimage">
        <!-- <img src="https://img.icons8.com/dusk/64/000000/light-on.png"> -->
      </div>
      <div fxHide.xs>
      <h1 class="example-app-name">FundooApp</h1>
      </div>
      <div  class="search" fxLayout="column" fxLayoutAlign="center">

      <mat-card appearance="outline" style="border-radius: 72px">
          <mat-icon matSuffix>search</mat-icon>
        <mat-label>Search</mat-label>
        <!-- <input type="search" matInput placeholder="Search"> -->
       
      </mat-card>
      </div>
      <div >
        <button  class="buttonSettings" matTooltip="settings " style="border-width: 0px;background: whitesmoke;margin-top: 9px;margin:auto">
            <img src="https://img.icons8.com/color/36/000000/settings.png">        
          </button>
      </div>
      <div >
        <button mat-icon-button class="buttonList"  matTooltip="List" style="border-width: 0px;background: whitesmoke;margin-top: 1px;margin:auto">
            <img src="https://img.icons8.com/color/36/000000/ingredients-list.png">

        </button>
      </div>
      <div >
        <button  class="buttonApps" matTooltip="Apps" [matMenuTriggerFor]="social" style="border-width: 0px;background: whitesmoke;margin-top: 12px">
            <img src="https://img.icons8.com/color/36/000000/activity-grid-2.png">
        </button>
      </div>
      <div   fxLayoutAlign="center" >
        <button color=gray  [matMenuTriggerFor]="accountmenu" class="buttonAccountCircle" matTooltip={{email}} style="border-width: 0px;background: white;margin:auto" >
            <img src="https://img.icons8.com/color/48/000000/user-male-circle.png">
        </button>
      </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>


  <mat-divider></mat-divider>
  <div class="mat-sidenav-container"> 
    <mat-sidenav-container  style="height:100vh;width: 100%;">
      <mat-sidenav  #sidenav mode="side" style="width: 124px">
          <mat-nav-list>
            <div>
           <mat-card style="border-radius: 72px">
            <div class="buttonRemainder" style="margin:19px" fxLayoutAlign="center"> 
            
            <button  style="margin-left: 1px" matTooltip="Remainder" style="background-color: whitesmoke;border-width: 0px;">
              <img src="https://img.icons8.com/color/36/000000/appointment-reminders.png">
                  <span>Remainder</span>  
              </button>
       
              </div>
              <div class="buttonNotes" style="margin:19px" fxLayoutAlign="center" >
              <button   (click)="notes()" style="margin-left: -11px" matTooltip="Notes" style="background-color: whitesmoke;border-width: 0px;" >
                  <img src="https://img.icons8.com/color/36/000000/light-on.png">
                  <span>  Notes</span>
              </button>
              </div>
              </mat-card>
              </div>
              <div style="border-bottom-width: 2px">
              <mat-card style="border-radius: 72px">
                <div class="buttonRemainder" style="margin:19px" fxLayoutAlign="center" > 
                
                <button (click)="archivebox()"  style="margin-left: 1px" matTooltip="Archive" style="background-color: whitesmoke;border-width: 0px;" >
                  <img src="https://img.icons8.com/color/36/000000/archive-folder.png">
                      <span>Archive</span>  
                  </button>
           
                  </div>
                  <div class="buttonNotes" style="margin:19px" fxLayoutAlign="center" >
                  <button (click)="trashbox()" style="margin-left: 1px" matTooltip="Trash" style="background-color: whitesmoke;border-width: 0px;" >
                    <img src="https://img.icons8.com/bubbles/48/000000/trash.png">
                      <span>Trash</span>
                  </button>
                  </div>
                  </mat-card>
</div>             
  
          </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="width: 100%;background: whitesmoke ">
        <router-outlet></router-outlet>

    </mat-sidenav-content>  
    </mat-sidenav-container>
  </div>

  <div>
      <mat-menu #accountmenu="matMenu">
          <mat-card style="height: 100px;width: 245px;">
            <div fxLayout="row">
              <mat-icon>account_circle</mat-icon>
            </div>
            <p fxLayout="row" fxLayoutAlign="center center"> {{email}} </p> 
            <mat-divider></mat-divider>
            <div fxLayout="row" fxLayoutAlign="space-around center">
              <div>
                <button routerLink="/register" routerLinkActive="active" fxLayoutAlign="start center" mat-raised-button>Add Account</button>
              </div>
              <div>
                <button mat-raised-button  fxLayoutAlign="end center" (click)="onlogout()">Log Out</button>
              </div>
            </div>
          </mat-card>
          </mat-menu>
  </div>
  <div>
    <mat-menu #social="matMenu">
      <app-app-social></app-app-social>
    </mat-menu>
    
  </div>




</div> 



