<div style="overflow: hidden;margin-left: -26px;" class="main">
  <div style="margin-left: 15px;">

    <mat-toolbar class=".mat-toolbar">
      <mat-toolbar-row class=".mat-toolbar-row">

        <div>
          <button (click)="sidenav.toggle()" class="buttonMenu"
            style="border-width: 0px;background: whitesmoke;margin-top: 9px">
            <img src="https://img.icons8.com/bubbles/50/000000/menu.png">
          </button>
        </div>

        <div>
          <img src="../../../assets/googlekeep.png" alt="FundooNotes" class="bulbsimage">
          <!-- <img src="https://img.icons8.com/dusk/64/000000/light-on.png"> -->
        </div>

        <div fxHide.xs>
          <h1 class="example-app-name">{{header}}</h1>
        </div>

        <div class="search" fxLayout="column" fxLayoutAlign="center">

          <mat-card appearance="outline" style="border-radius: 72px">
            <mat-icon matSuffix>search</mat-icon>
            <mat-label  fxHide.xs >Search</mat-label>
            <!-- <input type="search" matInput placeholder="Search"> -->

          </mat-card>
        </div>

        <div>
          <button class="buttonSettings" matTooltip="settings "
            style="border-width: 0px;background: whitesmoke;margin-top: 15px;">
            <img src="https://img.icons8.com/bubbles/50/000000/services.png">
          </button>
         
        </div>

        <!-- <div>
            <button mat-icon-button class="buttonList" matTooltip="List"
              style="border-width: 0px;background: whitesmoke;margin-top: 1px;margin:auto">
              <img src="https://img.icons8.com/dusk/48/000000/back-sorting.png">

            </button>
          </div> -->

        <div>
          <button class="buttonApps" matTooltip="Apps" [matMenuTriggerFor]="social"
            style="border-width: 0px;background: whitesmoke;margin-top: 12px">
            <img src="https://img.icons8.com/bubbles/50/000000/share.png">
          </button>
        </div>

        <div fxLayoutAlign="center">
          <button color=gray [matMenuTriggerFor]="accountmenu" class="buttonAccountCircle" matTooltip={{email}}
            style="border-width: 0px;background: white;margin:auto">
            <img mat-card-avatar src="http://localhost:8080/user/getProfilePic/{{token}}"/>
          </button>
        </div>
      </mat-toolbar-row>

    </mat-toolbar>
  </div>


  <mat-divider></mat-divider>
  <div class="mat-sidenav-container">
    <mat-sidenav-container >

      <mat-sidenav #sidenav mode="side" style="width: 20%;height: 100vh">
        <mat-nav-list style="background-color: whitesmoke;height: 100vh">
          <div  fxLayout="column" fxLayoutAlign="start center" >
           
              <div  class="notes" (click)="notes()" >
                <div class="iconimage"  matTooltip="Notes">
                  <img src="https://img.icons8.com/bubbles/50/000000/light-on.png">
                  <div fxHide.xs class="iconname"> Notes</div>
                </div>
              </div>



              <div class="notes"  (click)="remainder()" >

                <div class="iconimage" matTooltip="Remainder">
                  <img src="https://img.icons8.com/bubbles/50/000000/alarm.png">
                  <div fxHide.xs class="iconname">Remainder</div>
                </div>

              </div>

          
          </div>
        <hr>
          <div style="margin-left: -24px;">
              <p class="label" style="margin-top: -17px;margin-left: 13px;"> LABELS </p>
            <app-label></app-label>
          </div>
          <hr>
          <div  fxLayout="column" fxLayoutAlign="start center" >
           
              <div class="notes" (click)="archivebox()">

                <div class="iconimage"    matTooltip="Archive">
                  <img src="https://img.icons8.com/bubbles/50/000000/folder-invoices.png">
                  <div fxHide.xs class="iconname">Archive</div>
              </div>

              </div>
              <div class="notes" (click)="trashbox()"   >
                <div  class="iconimage"  matTooltip="Trash">
                  <img src="https://img.icons8.com/bubbles/48/000000/trash.png">
                  <div fxHide.xs class="iconname">Trash</div>
              </div>
              </div>
         
          </div>


        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content  class="mat-sidenav-content">
        <router-outlet></router-outlet>

      </mat-sidenav-content>

    </mat-sidenav-container>
  </div>

  <div    style=" width: 29%;height: 300%;">
    <mat-menu #accountmenu="matMenu">
      <div style="height: 130px;width: 280px;">
        <div fxLayout="row">
          <mat-icon  matTooltip="{{email}}"   (click)="profilePic()"> <img mat-card-avatar src="http://localhost:8080/user/getProfilePic/{{token}}"/></mat-icon>
        </div>
        <p fxLayout="row" fxLayoutAlign="center center"> {{email}} </p>
        <hr>
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <div>
            <button routerLink="/register" routerLinkActive="active" fxLayoutAlign="start center" mat-raised-button>Add
              Account</button>
          </div>
          <div>
            <button mat-raised-button fxLayoutAlign="end center" (click)="onlogout()">Log Out</button>
          </div>
        </div>
      </div>
    </mat-menu>
  </div>
  <div>
    <mat-menu #social="matMenu">
      <app-app-social></app-app-social>
    </mat-menu>

  </div>
</div>