.input-style{
    width: 100%;
}
.mattoolbarrow{
    position: fixed;
    top: 0;
    width: 100%;

}
.mattoolbar{
    width: 100%
}
.search{
    margin-top: 1px;
    padding: 5px 15px;
    width: 75%;
    
   }