.main{
    margin:max($numbers: 100px);
    
  
     background-color: rgb(201, 63, 13)
}
div  {
    background-image: src('home/admin1/Downloads/register.jpg');
}
.matCard{
    
    width:50%;
    height: 100%;
    margin-right: max-content;
    margin-left: max-content;
    margin-bottom: 3%;
    margin-top: 3%;
    border-radius: 02%;
    box-shadow: 1px 8px 16px 0 rgba(1, 20, 9, 0.459);
    align-content: center;
    }
.matCardTitle{
    color: gold

}
.matCardSubTitle{
    color: peru
}
.example-container{
    width: 100%;
    color:chocolate;
  
}
.input-style{
    color: goldenrod;
    width: 100%
}

  .buttonLogin button{
    padding: 10px 15px;
     color: chocolate;
     background-color:gold;
     size:50px;
     border: 8px solid goldenrod;
     
     }
     .pure-button {
        font-family: inherit;
        font-size: 100%;
        *font-size: 90%; /*IE 6/7 - To reduce IE's oversized button text*/
        *overflow: visible; /*IE 6/7 - Because of IE's overly large left/right padding on buttons */
        padding: 0.5em 1em;
        color: #444; /* rgba not supported (IE 8) */
        color: rgba(0, 0, 0, 0.80); /* rgba supported */
        *color: #444; /* IE 6 & 7 */
        border: 1px solid #999;  /*IE 6/7/8*/
        border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
        background-color: #E6E6E6;
        text-decoration: none;
        border-radius: 2px;
        margin-left: 10%;
        margin-top: 3%
    }