
  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-card class="matCard">
      <mat-card-title class="matCardTitle">
        <h2>FundooNotes</h2>
      </mat-card-title>
      <mat-card-subtitle class="matCardSubtitle">
        <h2>Login Page</h2>
      </mat-card-subtitle>

      <form [formGroup]="loginForm">
        <div>
          <mat-form-field appearance="outline" class="input-style">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Enter your email" formControlName="email"
              [(ngModel)]="login.emailId" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
            <mat-icon matSuffix>email</mat-icon>
            <mat-hint>Email</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="input-style">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Enter your password" [type]="!hide ? 'password' : 'text'"
              formControlName="password" [(ngModel)]="login.password" required>
            <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-hint>Password</mat-hint>
          </mat-form-field>
        </div>
        <div class="buttonLogin" fxLayout="row" fxLayoutGap="400px">
          <button mat-raised-button color="primary" id="login" (click)="onlogin()">Login</button>
          <button mat-raised-button color="primary" id="register" routerLink='/register'> Register </button>
        </div>
        <button class="pure-button pure-button-primary" style="background-color:whitesmoke;" (click)="socialSignIn('facebook')">      <img src="https://img.icons8.com/color/48/000000/facebook.png"></button>
          <button class="pure-button pure-button-primary" style="background-color:whitesmoke;" (click)="socialSignIn('google')">  <img src="https://img.icons8.com/color/48/000000/google-plus.png"></button> 
          <button class="pure-button pure-button-primary" style="background-color: whitesmoke;"(click)="socialSignIn('linkedin')"> <img src="https://img.icons8.com/color/48/000000/linkedin.png"></button> 

        
      </form>


    </mat-card>
  </div>
