
    .popdownCard{
     
      border-radius:8%;
      margin-left:10px;
      min-height:80px;
      width:320px;
  }
  .Pinned{
    margin-left: 28%;
    margin-top:2%;
    font-family: Roboto,Arial,sans-serif;
    font-weight: normal;
    font-size: 11px
  }
  mat-card:hover{
    .appiconp{
      visibility:visible
    }
      }
    .appiconp{
      visibility:hidden
    
    }
    .app-label-display{
      margin-top: 8px;
      margin-bottom: 8px;
    }