.cardList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  /* Column Gap */
  .cardList > * {
    box-sizing: border-box;
  }
  .cardList > *:not(:last-child) {
    margin-right: 32px;
    margin-top: 45px
  }
    .popdownCard{
      width:235px;
      border-radius:8%;
      margin-left:10px
  }
  .Pinned{
    position:center
  }
  mat-card:hover{
    .appiconp{
      visibility:visible
    }
      }
    .appiconp{
      visibility:hidden
    
    }