<div   style="margin: 20px" class="cardList">
<div *ngFor="let items of note" fxLayoutAlign="space-around center" fxLayoutGap="2px">
<mat-card  class="popdownCard"  fxLayout="column" fxLayoutAlign="center center">
  <div  fxLayout="column" fxLayoutAlign="center center">

    <div style="margin-top:-12px">
      <input matInput type="text" placeholder="Title" [(ngModel)]="items.title"
        style="color: #202124;direction: ltr;font-family: 'Roboto',arial,sans-serif;font-size: 20px;" />
    </div>


    <div style="margin-top:15px">
      <textarea matInput type="text" placeholder="Take a note..." [(ngModel)]="items.description"
        style="color: #202124;direction: ltr;font-family: 'Roboto',arial,sans-serif;font-size: 15px;"></textarea>
    </div>


    <div fxLayout="row" fxLayoutAlign="space-between end">
      <app-app-icon></app-app-icon>
      <button  matTooltip="Close the note"
        style="border-width: 0px;background: white;margin-top: 9px;margin:auto">

        <img src="https://img.icons8.com/color/24/000000/cancel.png">
      </button>
    </div>




  </div>
</mat-card>
</div>
</div>