
    .popdownCard{
     
      border-radius:4%;
      margin-left:10px;
      min-height:28px;
     max-width:223px ;
     margin-top: 10px;
     box-shadow: 10px 10px 8px #888888;
  }
  .others{
    margin-left: 28%;
    margin-top:2%;
    font-family: Roboto,Arial,sans-serif;
    font-weight: normal;
    font-size: 11px
  }
  mat-card:hover{
    .appiconp{
      visibility:visible
    }
      }
    .appiconp{
      visibility:hidden
    
    }
   
    mat-card:hover{
      .apppin{
        visibility: visible;
      }
    }
    .apppin{
      visibility: hidden;}   

 .app-label-display{
      min-height: 0px;
      margin-top: 0px;
      margin-bottom: 4px;
    }
.apppin{

  width: 42px;
  height: 36px;
  float: right;
  width: 15%;

}
.title{
float: left;
width: 85%;
  word-wrap: break-word;
  color: #202124;
  direction: ltr;
  font-family: 'Roboto',arial,sans-serif;
  font-size: 15px;
  margin-top:0px
}
.description{
  color: #202124;
  direction: ltr;
  font-family: 'Roboto',arial,sans-serif;
  font-size: 10px;
  margin-top:8px;
  width: 80%;
  word-wrap: break-word;
}
.main{
  width: 90%;
}