<meta name="viewport" content="width=device-width,initial-scale=1.0"> 
  <div class = "main" fxLayout="column" fxLayoutAlign="center center" >
      <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <mat-card class = "matCard" >
        <mat-card-title class="matCardTitle" fxLayoutAlign="center center">
          <h2 class = "headertwo">FundooNotes</h2>
        </mat-card-title>
        <mat-card-subtitle class = "matCardSubTitle" fxLayoutAlign="center center">
          <h2>Reset Password</h2>
        </mat-card-subtitle>
        
      <div class="example-container">
        <form [formGroup]="ResetPasswordForm">
         <div>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="New-password" [type]="!hide ? 'password' : 'text'" formControlName="newPassword" [(ngModel)]="resetPassword.newPassword" required>
                <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-hint>Password</mat-hint>
              </mat-form-field>
        </div>
         <div>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="Retype-password" [type]="!hide ? 'password' : 'text'" formControlName="confirmPassword" [(ngModel)]="resetPassword.confirmPassword" required>
                <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-hint>Password</mat-hint>
              </mat-form-field>
          </div>

          <div class="buttonResetPassword" fxLayoutGap="120px">
            <button mat-raised-button color="primary" id="ForgotPassword" (click)="onReset()">Forgot</button>
           
          </div>
        
        </form>
      </div>
    </mat-card>
  </div>
  
  
  
  


