<meta name="viewport" content="width=device-width,initial-scale=1.0"> 
  <div class = "main" fxLayout="column" fxLayoutAlign="center center" >
      <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <mat-card class = "matCard" >
        <mat-card-title class="matCardTitle" fxLayoutAlign="center center">
          <h2 class = "headertwo">FundooNotes</h2>
        </mat-card-title>
        <mat-card-subtitle class = "matCardSubTitle" fxLayoutAlign="center center">
          <h2>ForgotPassword</h2>
        </mat-card-subtitle>
        
      <div class="example-container">
        <form [formGroup]="ForgotPasswordForm">
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Enter your email" formControlName="email" [(ngModel)]="forgotPassword.emailId" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-hint>Email</mat-hint>
                  </mat-form-field>
            </div>
          <div class="buttonForgotPassword" fxLayoutGap="120px">
            <button mat-raised-button color="primary" id="ForgotPassword" (click)="onForgot()">Forgot</button>
            <button mat-raised-button color="primary" id="login" routerLink='/login'> Login </button>
          </div>
        
        </form>
      </div>
    </mat-card>
  </div>
  
 
  
  


