<!-- <div>
   <div >
      <mat-chip-list >

         
          <mat-chip *ngFor="let items of labelofnote"  color="accent" selected>{{items.labelName}}</mat-chip>
        </mat-chip-list>
        
    <div>
      <app-label-display [noteData]="items" ></app-label-display> 
</div> -->
<div fxLayout="row" fxLayoutAlign="start center" > 

  <div>
    <button  mat-button class="buttonApps" matTooltip="Remind me"   [matMenuTriggerFor]="reminder" style="border-width: 0px;" >
      <img src="../../../assets/remindme.svg">
    </button>
  </div>
  <div>
    <button mat-button  (click)='opendialogCollab(noteData.id)'  class="buttonApps" matTooltip="Collabrator" style="border-width: 0px;">
      <img src="../../../assets/colabrator.svg">
    </button>
  </div>
  <div>
    <button mat-button    class="buttonApps" matTooltip="Change Color" [matMenuTriggerFor]="colorplatte" style="border-width: 0px;">
      <img src="../../../assets/colorplatte.svg">
    </button>
  </div>
  <div>
    <button  mat-button class="buttonApps" matTooltip="picture" style="border-width: 0px;">
      <img src="../../../assets/image.svg">
    </button>
  </div>
  <div>
    <button  mat-button (click)="archive(noteData.id)" class="buttonApps" matTooltip="Archive" style="border-width: 0px;">
      <img src="../../../assets/archive.svg">
    </button>
  </div>

  <div>
    <button  mat-button class="buttonApps" matTooltip="More" [matMenuTriggerFor]="More" style="border-width: 0px;">
      <img src="../../../assets/vertmore.svg">
    </button>
  </div>
 

<div>
  <mat-menu #colorplatte="matMenu">
    <div  fxLayout="row" fxLayoutAlign=" start" *ngFor='let color of arrayOfColors'>
      <div *ngFor='let notecolors of color'>
          <button [ngStyle]="{'background-color':notecolors.hexcode}"  (click)="setcolors(notecolors.name)" mat-mini-fab></button>

      </div>
    </div>


  </mat-menu>
</div>
<div>
  <mat-menu #reminder="matMenu" >
    <div  class="reminderMain" >
      <div class="reminderTittle">Reminder:
        
      </div>
      <div (click)='setToday()' class="reminderInside">Later Today
          <span style="margin-left: 57%">8:00</span>
      </div>
      <div (click)='setTomorrow()' class="reminderInside">Tomorrow
        <span style="margin-left: 60%">8:00</span>
      </div>
      <div (click)='setWeekly()' class="reminderInside">Weekly
          <span style="margin-left: 66%">8:00</span>
      </div>
      <div >
      <div  (click)='setPickTime()' class="reminderInside"  >
        <mat-icon>access_time</mat-icon>
         <span> Pick A Date </span> 

      </div>
      <div >
          <mat-form-field class="reminderInside">
              <input matInput [matDatepicker]="picker" placeholder="Choose a date" [formControl]="dateCalendar">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            
      </div>
      </div>
    </div>
  </mat-menu>
</div>
<div>
  <mat-menu #More="matMenu">
      <button mat-menu-item  [matMenuTriggerFor]="label"  >Add label</button>
  <button mat-menu-item >Change label</button>
  <button (click)="trashNote()" mat-menu-item >Delete Note</button>
  
  </mat-menu>
</div>
<div>
  <mat-menu #label="matMenu">
    <div>Label note</div>
         <div *ngFor="let labels of alllabel">
          <mat-checkbox   (click)="addLabelToNote(labels)"   class="addlabel">{{labels.labelName}}</mat-checkbox>
     
      </div> 
  </mat-menu>
</div>

</div>