<div>
  <!-- <div >
      <mat-chip-list >

         
          <mat-chip *ngFor="let items of labelofnote"  color="accent" selected>{{items.labelName}}</mat-chip>
        </mat-chip-list>
        
    <div>
      <app-label-display [noteData]="items" ></app-label-display> -->
</div>
<div fxLayout="row" fxLayoutAlign="space-between center">

  <div>
    <button  class="buttonApps" matTooltip="Remind me" style="background-color: white;border-width: 0px;" >
      <img src="https://img.icons8.com/dusk/24/000000/add-reminder.png">
    </button>
  </div>
  <div>
    <button  class="buttonApps" matTooltip="Collabrator" style="background-color: white;border-width: 0px;">
      <img src="https://img.icons8.com/color/24/000000/add-user-group-woman-man.png"> 
    </button>
  </div>
  <div>
    <button  class="buttonApps" matTooltip="Change Color" [matMenuTriggerFor]="colorplatte" style="background-color: white;border-width: 0px;">
      <img src="https://img.icons8.com/office/24/000000/paint-palette.png">
    </button>
  </div>
  <div>
    <button class="buttonApps" matTooltip="picture" style="background-color: white;border-width: 0px;">
      <img src="https://img.icons8.com/doodle/24/000000/picture.png">
    </button>
  </div>
  <div>
    <button  (click)="archive()" class="buttonApps" matTooltip="Archive" style="background-color: white;border-width: 0px;">
      <img src="https://img.icons8.com/color/24/000000/archive-folder.png">
    </button>
  </div>

  <div>
    <button  class="buttonApps" matTooltip="More" [matMenuTriggerFor]="More" style="background-color: white;border-width: 0px;">
      <img src="https://img.icons8.com/bubbles/24/000000/menu-2.png">
    </button>
  </div>
 

<div>
  <mat-menu #colorplatte="matMenu">
    <div  fxLayout="row" fxLayoutAlign=" start" *ngFor='let color of arrayOfColors'>
      <div *ngFor='let notecolors of color'>
          <button [ngStyle]="{'background-color':notecolors.hexcode}"  (click)="setcolors(notecolors.name)" mat-mini-fab></button>

      </div>
    </div>


  </mat-menu>
</div>
<div>
  <mat-menu #More="matMenu">
      <button mat-menu-item  [matMenuTriggerFor]="label"  >Add label</button>
  <button mat-menu-item >Change label</button>
  <button (click)="trashNote()" mat-menu-item >Delete Note</button>
  
  </mat-menu>
</div>
<div>
  <mat-menu #label="matMenu">
    <div>Label note</div>
         <div *ngFor="let labels of alllabel">
          <mat-checkbox   (click)="addLabelToNote(labels)"   class="addlabel">{{labels.labelName}}</mat-checkbox>
     
      </div> 
  </mat-menu>
</div>

</div>