<div class="main" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-card>
      <mat-card-title class="matCardTitle">
        <h2 class="headertwo">FundooNotes</h2>
      </mat-card-title>
      <mat-card-subtitle class="matCardSubTitle">
        <h2>ForgotPassword</h2>
      </mat-card-subtitle>


      <form [formGroup]="ForgotPasswordForm">
        <div>
          <mat-form-field appearance="outline" class="input-style">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Enter your email" formControlName="email"
              [(ngModel)]="forgotPassword.emailId" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
            <mat-icon matSuffix>email</mat-icon>
            <mat-hint>Email</mat-hint>
          </mat-form-field>
        </div>
        <div class="buttonForgotPassword" fxLayout="row" fxLayoutGap="80px">
          <button mat-raised-button color="primary" id="ForgotPassword" (click)="onForgot()">Forgot</button>
          <button mat-raised-button color="primary" id="login" routerLink='/login'> Login </button>
        </div>

      </form>

    </mat-card>
  </div>
</div>