<!-- <div fxLayout="column" fxLayoutAlign="start start"> 
  <div class="title">
    Collaborators
    </div>
  
<div>
  <button mat-mini-fab>{{ownerUser | slice: 0 : 5 }}</button>
  <span>(Owner)</span>
<span>{{ownerUser}}</span>

</div>
<div fxLayout="column" fxLayoutAlign=" start"  >
  <div *ngFor='let collab of collablist' >
  <button mat-mini-fab>{{collab.emailId | slice: 0 : 5 }}</button>

<span style="width: 470px">{{collab.emailId}}</span>
<button style="margin-left: 200px" (click)="removecollab(collab.emailId)"     mat-button><mat-icon>cancel</mat-icon></button>
</div>


</div>
<div fxLayout="row" fxLayoutAlign=" start"  fxLayoutGap="20px">
 <div> 
<button  mat-mini-fab><mat-icon>person</mat-icon>
</button> 
</div>

<div >
    <input  style="margin-top: 10px;width: 463px;"  type="email" matInput placeholder="Enter your email" [formControl]="collabEmail"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
</div>
<div> 
    <button (click)="addcollab()"  mat-button><mat-icon>done</mat-icon></button></div>


</div>
<hr>
<div>
    <button mat-button >Cancel</button>
    <button mat-button>Save</button>
</div> -->

<!-- </div> -->
<div class="dialog" fxAlign="column" fxFlexLayout="space-between start">

  Collaborators
  <mat-divider></mat-divider>
  <div fxAlign="row" fxFlexLayout="space-between center">
    <button mat-mini-fab color="grey" mat-icon-button aria-label="Example icon-button with a menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <div class="Collab">
      <div>(Owner)</div>
      
      <div>{{ownerUser}}</div>
    </div>
  </div>

  <div *ngFor='let collab of collablist' fxAlign="row" fxFlexLayout="space-between center">
    <div fxAlign="row" fxLayoutAlign="space-between center">
      <button mat-mini-fab color="grey" mat-icon-button aria-label="Example icon-button with a menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      
        <div>{{collab.firstName}} {{collab.lastName}} </div>
        <div>{{collab.emailId}}</div>
     
      
        <button (click)="removecollab(emailId)" mat-button>
          <mat-icon>cancel</mat-icon>
        </button>

    </div>
  </div>
  
  <div style="margin-top: 5%" fxAlign="row" fxLayoutGap="18px" fxFlexLayout="space-between start">
    <button mat-mini-fab color="grey" mat-icon-button aria-label="Example icon-button with a menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <input class="input" type="email" matInput placeholder="Enter your email"
      [formControl]="collabEmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
      <button (click)="addcollab()" mat-button>
        <mat-icon>done</mat-icon>
      </button>
  </div>
  
   
     

</div>
<mat-divider></mat-divider>
<div class="button">
  <button mat-button >Cancel</button>
  <button mat-button   (click)="addcollab()" >Save</button>
</div>
