.dialog{
    width:400px;
    padding: 22px;
    }
    
    .input
    {
    width: 80%;
    margin-bottom: 3%;
    border: none !important;
    }
    
    input.input:focus
    {
    outline-width: 0;
    }
    .button{
    display: flex;
    justify-content: flex-end;
    }
    .Collab{
    margin-left: 13%;
    margin-top: -8%;
    
    }
    
    /deep/.mat-dialog-container {
    display: block;
    padding:0;
    border-radius: 14px;
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.8), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
    }
    .new{
    width: 380px;
    pointer-events: auto;
    bottom: 158.75px;
    left: 497px;
    }