input.input:focus{
    outline-width: 0;
}
.input{
    width: 60%
}
.popupCard{
    width: 498px;
    box-shadow:  0 3px 5px rgba(0,0,0,0.20);
    height: 25px;
}
.popdownCard{
    box-shadow:  0 3px 5px rgba(7, 1, 1, 0.2);
}
.popdownCard{
    width: 498px;
    border-radius: 1.5%
}
